<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(prepareCharts);

      function prepareCharts() {

        var bubbleChartData = google.visualization.arrayToDataTable([
          ['ID', 'X', 'Y', 'Series', 'Value'],
          #foreach($stats in $bubbleChartInitialStats)
            ['', $stats.x, $stats.y, 'Forams count', $stats.foramsCount],
            ['', $stats.x, $stats.y, 'Algae avaliability', $stats.algaeAvailability],
          #end
        ]);

        var bubbleChartUpdates = [
          #foreach($update in $bubbleChartUpdates)
            [ #foreach($value in $update) $value, #end ],
          #end
        ];

        var lineChartCompleteData = [
          #foreach($pair in $lineChartData)
            [$pair.left, $pair.middle, $pair.right],
          #end
        ];

        var lineChartData = google.visualization.arrayToDataTable([
          ['Step', 'Forams count', 'Algae avaliability'],
          #foreach($pair in $lineChartData)
            [$pair.left, 0, 0],
          #end
        ]);

        var bubbleChartOptions = {
          colors: ['#444444', 'green'],
          hAxis: {title: 'X', minValue: 0, maxValue: 9},
          vAxis: {title: 'Y', minValue: 0, maxValue: 9},
          sizeAxis: {minSize: 0, minValue: 0, maxValue: 357},
        };

        var bubbleChart = new google.visualization.BubbleChart($('#bubble_chart').get(0));
        bubbleChart.draw(bubbleChartData, bubbleChartOptions);

        var lineChartOptions = {
          title: 'Total forams count and algae availability',
          colors: ['#444444', 'green'],
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
          vAxes: {
            0: {title: 'Forams count'},
            1: {title: 'Algae avaliability'}
          },
        };

        var lineChart = new google.visualization.LineChart($('#line_chart').get(0));
        lineChart.draw(lineChartData, lineChartOptions);

        var index = 0;
        var playing = false;

        var refreshCharts = function () {
          for (var i = 0; i < bubbleChartData.getNumberOfRows(); i++) {
            bubbleChartData.setCell(i, 4, bubbleChartUpdates[index][i]);
          }
          for (var i = 0; i < lineChartCompleteData.length; i++) {
            var foramsCount = (index == 0 || i <= index) ? lineChartCompleteData[i][1] : 0;
            var algaeAvailability = (index == 0 || i <= index) ? lineChartCompleteData[i][2] : 0;
            lineChartData.setCell(i, 1, foramsCount);
            lineChartData.setCell(i, 2, algaeAvailability);
          }

          bubbleChart.draw(bubbleChartData, bubbleChartOptions);
          lineChart.draw(lineChartData, lineChartOptions);
        };

        $('#back_button').click(function () {
          index = (index > 0) ? index - 1 : index;
          playing = false;
          refreshCharts();
        });

        $('#stop_button').click(function () {
          index = 0;
          playing = false;
          refreshCharts();
        });

        $('#play_button').click(function () {
          var tfun = function () {
            playing = playing && index < bubbleChartUpdates.length;
            if (playing) {
              refreshCharts();
              index++;
              setTimeout(tfun, 100);
            }
          };
          if (!playing) {
            playing = true;
            setTimeout(tfun, 100);
          }
        });

        $('#pause_button').click(function () {
          playing = false;
        });

        $('#forward_button').click(function () {
          index = (index < bubbleChartUpdates.length - 1) ? index + 1 : bubbleChartUpdates.length - 1;
          playing = false;
          refreshCharts();
        });

        refreshCharts();
      }
    </script>
  </head>
  <body>
    <div id="bubble_chart" style="width: 900px; height: 700px; display: inline-block;"></div>
    <div style="display: inline-block; float: right;">
      <div id="line_chart" style="width: 900px; height: 250px; float: right; margin-top: 100px;"></div>
      <div style="text-align: center;">
        <button id="back_button" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
        </button>
        <button id="stop_button" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </button>
        <button id="play_button" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        <button id="pause_button" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
        <button id="forward_button" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </body>
</html>